<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300,500,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>


</head>

<body>

    <header>
        <div class="header-global">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">

            <div class="barra-de-busqueda">
                <input type="text" placeholder="Buscar productos, marcas y más..."><i class="fas fa-search"></i>
            </div>

            <p class="copy"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas sin tarjeta de crédito</p>
        </div>
        <nav class="header">
            <ul class"navbar-left">
                <li><a href=""> Ofertas </a></li>
                <li><a href=""> Tiendas Oficiales </a></li>
                <li><a href=""> Vender </a></li>
                <li><a href=""> Ayuda </a></li>
            </ul>

            <ul class="navbar-right">
                <li><a href="/register"> Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <div class="products">
            <h3>Basado en tu última visita</h3>
            <section class="last-visit">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="main-article"><i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h4 class="description">Cafetera Mulinex</h4>
                    </div>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen MacBook">
                    <div class="main-article"><i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Mac Book Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="main-article"><i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="main-article"><i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43" </h4>
                    </div>
                </article>
            </section>

            <h3>Ofertas</h3>
            <section class="offers">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="main-article"><i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h4 class="description">Cafetera Mulinex</h4>
                    </div>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen MacBook">
                    <div class="main-article"><i class="fas fa-truck"></i>
                        <p class="price">>$6.770</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Mac Book Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="main-article"><i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="main-article"><i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43" </h4>
                    </div>
                </article>

            </section>
        </div>
    </main>
    <footer>
        <article class="art-footer">
            <i class="fas fa-credit-card"></i>
            <h4> Pagá con tarjeta o en efectivo</h4>
            <p class="text"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                ¡Y siempre es seguro! </p>
        </article>

        <article class="art-footer">
            <i class="fas fa-gift"></i>
            <h4> Envío gratis desde $2.500</h4>
            <p class="text"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
                un beneficio de Mercado Puntos.</p>
        </article>

        <article class="art-footer">
            <i class="fas fa-user-shield"></i>
            <h4> Seguridad de principio a fin </h4>
            </li>
            <p class="text"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                siempre protegid@.</p>
        </article>

        <p class="text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>

</html> -->