<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Ingresa a tu cuenta</title>
</head>
<body>
    <header>   
        <div class="header-global">
     <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
     
        <div class="barra-de-busqueda">
         <input type="text" placeholder="Buscar productos, marcas y más..."><i class="fas fa-search"></i>
        </div>
    
        <p class="copy"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas sin tarjeta de crédito</p>
    </div>
     <nav class="header">
       <ul class"navbar-left">
          <li><a href=""> Ofertas </a></li>
          <li><a href=""> Tiendas Oficiales </a></li>
          <li><a href=""> Vender </a></li>
          <li><a href=""> Ayuda </a></li>    
       </ul>
    
       <ul class="navbar-right">
          <li><a href="/register"> Creá tu cuenta <i class="far fa-id-card"></i></a></li>
          <li><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href=""> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
       </ul>
    </nav>
    <div class="menu">
        <i class="fas fa-bars"></i>
        </div>
    </header>
<main class="forms">
<section class="container-fom">
    <p class="title-form">Ingresá a tu cuenta</p>
    <form class="form-login" action="/" method="post">
        <label for="user-name">
            <input class="banner" type="text" name="user-name" id="user-name" required placeholder="Nombre de usuario">
        </label>
        <label for="">
            <input class="banner" type="password" name="password" id="password" required placeholder="introduzca su contraseña">
        </label>
        <div class="contain-button">
        <button class="button-send" type="submit">Enviar</button>
    </div>
    </form>
</section>
</main>
    <footer>
        <article class="art-footer">
           <i class="fas fa-credit-card"></i>
       <h4> Pagá con tarjeta o en efectivo</h4>
       <p class="text"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </article>
       
        <article class="art-footer">
           <i class="fas fa-gift"></i>
       <h4> Envío gratis desde $2.500</h4>
       <p class="text"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
      
       <article class="art-footer">
           <i class="fas fa-user-shield"></i>
       <h4> Seguridad de principio a fin </h4></li>
       <p class="text"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
       </article>
       
           <p class="text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   
   </footer>
</body>
</html>